[submodule "themes/hugo-lithium"]
	path = themes/hugo-lithium
	url = https://github.com/johnwarden/hugo-lithium
[submodule "syndication-sources/delibrerati"]
	path = syndication-sources/deliberati
	url = https://github.com/johnwarden/deliberati
